<!-- ngClass -->
<!-- <div [ngClass]="{ semaforo: true, redondo: true, rojo:(colorSeleccionado === 'r'), amarillo:(colorSeleccionado === 'a'), verde:(colorSeleccionado === 'v') }"></div> -->

<!-- ngIf -->

<!-- <p *ngIf="mostrar; then mainBlock else elseBlock">Esto es una prueba de ngIf</p>



<ng-template #mainBlock>

    <p>Esto es una prueba de then en ngIf</p>
</ng-template>
<ng-template #elseBlock>

    <p>Esto es una prueba de else en ngIf</p>

</ng-template> -->

<!-- mejor opcion
<p *ngIf="mostrar">Contenido del primer parrafo</p>
<p *ngIf="!mostrar">Contenido del segundo parrafo</p>

<button (click)="onClickMostrar()">Mostrar / Ocultar</button>-->