<p appSubrayado>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit id voluptatibus in qui accusantium eos amet similique veniam quos facere odio cupiditate possimus ipsa, nihil, saepe, necessitatibus eveniet reiciendis! Autem?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit id voluptatibus in qui accusantium eos amet similique veniam quos facere odio cupiditate possimus ipsa, nihil, saepe, necessitatibus eveniet reiciendis! Autem?</p>
<p appSubrayado>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit id voluptatibus in qui accusantium eos amet similique veniam quos facere odio cupiditate possimus ipsa, nihil, saepe, necessitatibus eveniet reiciendis! Autem?</p>

<!-- <app-switch>

</app-switch> -->

<!-- <app-bucles>
</app-bucles> -->

<!-- <app-semaforo></app-semaforo>
<p [ngStyle]="propiedadesParrafo">
    Esto es una prueba para prueba ngstyle

</p>
<div>
    <button (click)="cambiaColor('v')">Verde</button>
    <button (click)="cambiaColor('r')">Rojo</button>
    <button (click)="cambiaColor('a')">Amarillo</button>
</div>

<div>
    <input type='text' [(ngModel)]="propiedadesParrafo.color">
</div>

<div>
    <input type="range" min="12" max="200" step="2" (input)="onInput($event)">
</div> -->