<h1>Cabecera</h1>
<app-main [texto]="mainTexto"></app-main>

<!-- <div>
    <app-formulario (tareaCreada)="onTareaCreada($event)"></app-formulario>
</div>
<div>
    <app-lista [tareas]="arrTareas"></app-lista>

</div> -->

<!-- <input type="text" [(ngModel)]="campoTexto"> -->
<!-- <p>{{ campoTexto }}</p> -->
<!-- <button (click)="onClick()">Cambia Valor Variable</button> -->

<!-- <div> -->
<!-- <input type="Text" [(ngModel)]="persona.nombre"><br> -->
<!-- <input type="Text" [(ngModel)]="persona.apellido"><br> -->
<!-- <input type="Text" [(ngModel)]="persona.edad"><br> -->
<!-- </div> -->
<!-- <p>Me llamo {{ persona.nombre }} {{ persona.apellido }} y tengo {{persona.edad}} años</p> -->
<!-- <app-cronometro [inicio]="numeros[0]" (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro>
<app-cronometro [inicio]="numeros[2]"11 (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro>
<app-cronometro inicio="12" (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro>
<app-cronometro inicio="6" (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro> -->

<!-- <app-alerta [mensaje]="titulos[0]" subtitulo="este es el primer subtitulo" (alertaPulsada)="onAlertaPulsada($event)"></app-alerta> -->
<!-- <app-alerta [mensaje]="titulos[1]" subtitulo="este es el segundo subtitulo" (alertaPulsada)="onAlertaPulsada($event)"></app-alerta> -->
<!-- <app-alerta></app-alerta> -->

<!-- {{ titulos[0] }} -->

<!-- <app-sumar [numero1]="numeros[0]" [numero2]="numeros[1]"></app-sumar>-->
<!-- <br>-->
<!-- <app-sumar [numero1]="numeros[2]" [numero2]="numeros[3]"></app-sumar>-->