<!-- <p>Precio: {{ precio | currency:'EUR':'symbol':'3.8-9'}}</p> -->

<p>{{texto | reverso}}</p>

<p>{{texto | capitalize}}</p>

<!-- <p>Numero: {{numero | number: '1.2-4'}}</p>

<p>Fecha: {{fechaActual|date:'dd-MMMM HH : mm : ss'}}</p>
<p>Num aleatorio: {{ numAleatorio | percent:'1.1-2' }}</p>
<p>Estudiante: {{estudiante |json}}</p>
<p>Texto: {{ texto | titlecase }}</p>
<ul>
    <li *ngFor="let animal of arrAnimales| slice:min:max">
        {{animal}}
    </li>
</ul>

<input type="range" min="0" [max]="arrAnimales.length" step="1" [(ngModel)]="min">
<input type="range" min="0" [max]="arrAnimales.length" step="1" [(ngModel)]="max">

<p>mensaje: {{prom|async}}</p>
<ul>
    <li *ngFor="let promesa of promPost | async">
        <ul>{{promesa.title}}</ul>
    </li>
</ul> -->